* { 
    box-sizing: border-box; 
    margin: 0; 
    } 
    span, a, label { 
    display: inline-block; 
    } 
    img { 
     max-width: 100%; 
    }
    
 .all{
    padding: 20px; 
    font-family: 'Playfair Display', serif;
 }
 .boxbig{
    border: 2px solid red;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .h1{
    display: none;
 }
 .iconbig{
    background-color: yellow;
 }
 .icon{
    color: green;
    font-size: 20px;
    border: 2px solid green;
    padding: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 200px;
 }
 .box1{
    width: 20%;
   text-align: center;
 }
 .box2{
    width: 78%;
    align-items: center;
  background-color: aqua;
 }
 .box{
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid blue;
    justify-content: space-between;
 }
 @media(max-width:1000px){
 .h1{
    display: inline-block;
 }   
 .h2{
    display: none;
 }
 .box1{
width: 100%;
 }
 .box2{
    width: 100%;
     }
 .iconbig{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }
 }
 @media(max-width:750px){
   .box{
    width: 49%;
   }
   .boxbig{
    row-gap: 20px;
   }
    }
    @media(max-width:600px){
       .box{
        width: 100%;
       }
       .boxbig{
        row-gap: 10px;
       }
         }
         @media(max-width:300px){
          .all{
padding: 0px;

           }
           .boxbig{
            border: none;
            padding: 0px;
           }
           .box{
            border: none;
            text-align: center;
           }
           .iconbig{
         text-align: center;
           }
           .icon{
            font-size: xx-large;
            margin-left: 110px;
            margin-right: 110px;
           }
           .h1{
            width: 100%;
           }
              }
      
 